<div class="py-10">
  <p class="text-xl font-semibold">Categorías</p>
  <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
    @for (category of categories(); track category) {
    <li class="p-3 sm:pb-4">
      <div class="flex items-center space-x-4 rtl:space-x-reverse">
        <div class="flex-shrink-0">
          <img
            class="w-8 h-8 rounded-full"
            [src]="category.image"
            [alt]="category.name"
          />
        </div>
        <div class="flex-1 min-w-0">
          <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
            {{ category.name }}
          </p>
          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            {{ category.createdAt | timeAgo }}
          </p>
        </div>
        <button
          routerLink="/admin/create"
          type="button"
          class="flex items-center py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100"
        >
          Agregar producto
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </button>
      </div>
    </li>
    }
  </ul>
</div>
